.view-block-box {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 32px;
}

.view-block-box-tools {
    display: flex;
    padding: 0 16px;
    position: absolute;
    top: 0;
    right: 0;
}

.view-block-box-tools button {
    margin: 0 4px;
    height: 16px;
    font-size: 8px;
    cursor: pointer;
}

.view-block-box__border-show {
    border: 1px dotted yellowgreen;
}

.view-block-box__selected {
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

.view-block-box-fold-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0px;
    left: 8px;
    cursor: pointer;
    transition:cubic-bezier(0.6, 0.04, 0.98, 0.335) .2s;
}

.view-block-box-fold-icon__fold {
    transform: rotate(-90deg);
}